<div class="login-screen">

    <h3 class="login-screen__username">Login</h3>

    <form action="">

        <div class="login-screen__input">
            <div class="p-input-icon-right">
                <input #password autofocus pInputText autocomplete="off" class="p-inputtext-sm"
                    placeholder="Digite seu email" type="email">
            </div>
        </div>

        <div class="login-screen__input">
            <div class="p-input-icon-right">
                <input #senha autofocus pInputText autocomplete="off" class="p-inputtext-sm"
                    placeholder="Digite sua senha" type="password">
            </div>
        </div>


        <div class="login-screen__enter">            
            <button class="login-screen__btn" pButton type="submit" label="Login" iconPos="left"></button>
        </div>


    </form>
</div>