<div class="container">
  <form #lancamentoForm="ngForm" autocomplete="off" (ngSubmit)="salvar(lancamentoForm)">
    <div class="grid">

      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Novo'}} Lançamento</h1> 
      </div>

      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo name="tipos" [(ngModel)]="lancamento.tipo" ></p-selectButton>
      </div>

      <div class="p-fluid col-6 md:col-3">
        <label>Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" 
        name="vencimento" id="vencimento" ngModel #vencimento="ngModel" [required]="true" [(ngModel)]="lancamento.dataVencimento"></p-calendar>


        <app-message [control]="vencimento.control" error="required" text="Informe uma data de vencimento"></app-message>

      </div>

      <div class="p-fluid col-6 md:col-3">
        <label>{{tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar dateFormat="dd/mm/yy" [inline]="false" 
         name="pagamento" id="pagamento" ngModel #pagamento="ngModel" [(ngModel)]="lancamento.dataPagamento" ></p-calendar>
      </div>

      <div class="p-fluid col-12 md:col-9">
        <label>Descrição</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel"
        [(ngModel)]="lancamento.descricao" required minlength="5">


        <app-message [control]="descricao.control" error="required"  text="Informe uma descrição"></app-message>
        <app-message [control]="descricao.control" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres."></app-message>

      </div>

      <div class="p-fluid col-12 md:col-3">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="0,00" name="valor" ngModel
        [(ngModel)]="lancamento.valor" [required]="true"></p-inputNumber>
      </div>

      <div class="p-fluid col-12 md:col-6">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" #categoria="ngModel" name="categoria" ngModel="categoria"
        [(ngModel)]="lancamento.categoria.codigo" [required]="true"></p-dropdown>
      </div>
    
      <div class="p-fluid col-12 md:col-6">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [filter]="true" placeholder="Selecione" #pessoa="ngModel" ngModel name="pessoa"
        [(ngModel)]="lancamento.pessoa.codigo" [required]="true"></p-dropdown>
      </div>

      <div class="p-fluid col-12">
        <label>Observação</label>
        <textarea pInputTextarea [rows]="3" name="observacao" [(ngModel)]="lancamento.observacao" ></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar" icon="pi pi-check" iconPos="left" [disabled]="lancamentoForm.invalid"></button>
        <button pButton type="button" (click)="novo(lancamentoForm)" label="Novo" class="p-button-info ml-2"></button>
        <a class="ml-2" routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>

</div>
